# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
out/

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.cache
*.zip

# Environment files
*.env
*.env.local

# Publish profiles
*.pubxml
*.publishsettings
